.login {
  display: grid;
  place-items: center;
  height: 90vh;
  width: 100%;
}

.login > button {
  width: 300px;
  background-color: #738adb;
  color: #eff2f5;
  font-weight: 700;
}

.login > button:hover {
  background-color: #4056a5;
  color: aliceblue;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}
